{% extends 'base.html.twig' %}

{% block title %}Reclammation {% endblock %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objet</th>
                <th>Message</th>
                <th>Reponse</th>
                <th>Client</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclammation in reclammations %}
            <tr>
                <td>{{ reclammation.id }}</td>
                <td>{{ reclammation.objet }}</td>
                <td>{{ reclammation.message }}</td>
                <td> {{ reclammation.reponse.repmessage | default("Vide")}}</td>
                <td>{{ reclammation.clientId }}</td>
                <td>{{ reclammation.statut }}</td>
                <td>
                    <a href="{{ path('reclammation_show', {'id': reclammation.id}) }}" class="btn-primary">Afficher</a>
                    {% if reclammation.statut!='Traitée' %}
                    <a href="{{ path('reponse_new', {'id': reclammation.id}) }}">Repondre</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de réclammation</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <!--<a href="{{ path('reclammation_new') }}">Create new</a>-->
    <div class="mt-5">
        {{ knp_pagination_render(reclammations, 'pagination.html.twig') }}
    </div>

{% endblock %}
