{% extends 'base.html.twig' %}

{% block title %}Signalement index{% endblock %}

{% block body %}
    <div class="align-content-center m-5 p-5">
        <h1>Signalement index</h1>

        <table class="table">
            <tbody>
            <tr>
                <td><b>Blogueur</b></td>
                <td><b>Description</b></td>
                <td><b>Blogueur signalé</b></td>
                <td><b>Description de l'opinion signalé</b></td>
                <td><b>Actions</b></td>
            </tr>
            {% for signalement in signalements %}
                <tr>
                    <td>{{ signalement.blogueur.name }}</td>
                    <td>{{ signalement.description }}</td>
                    <td>{{ signalement.opinion.client.name }}</td>
                    <td>{{ signalement.opinion.commentaire }}</td>
                    <td>
                        <a href="{{ path('opinion_show', {'id': signalement.opinion.id}) }}">Afficher l'opinion</a>
                        &nbsp|&nbsp
                        <a href="{{ path('signalement_delete', {'id': signalement.id}) }}">Ignorer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
