{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Modifier une chambre</h1>

        <div class="card shadow mb-4">
            <div class="card-body">
                <div >
                    <div class="row">
                        <div class="col-xl-6 align-content-center" >
                            <br><br>
                            <div class="form-group">
                                {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                                <div class="form-group">
                                    {{ form_label(form.Type, 'type')  }}
                                    {{ form_widget(form.Type, {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'type'}} ) }}
                                    {{ form_errors(form.Type ) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.nbLits, 'nombres lits')  }}
                                    {{ form_widget(form.nbLits, {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'nombres de lits'}} ) }}
                                    {{ form_errors(form.nbLits ) }}
                                </div>
                                <div class="form-group">

                                    {{ form_label(form.etage, 'etage')  }}
                                    {{ form_widget(form.etage , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'etage'}} ) }}
                                    {{ form_errors(form.etage) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.prix, 'prix ')  }}
                                    {{ form_widget(form.prix , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'prix '}} ) }}
                                    {{ form_errors(form.prix) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.vue, 'vue')  }}
                                    {{ form_widget(form.vue , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'vue '}} ) }}
                                    {{ form_errors(form.vue) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.hotel, 'hotel')  }}
                                    {{ form_widget(form.hotel , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Nom Hotel '}} ) }}
                                    {{ form_errors(form.hotel) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







{% endblock %}